body {
	background-color: #f3f3f3;
	margin-right: 150px;
	margin-left: 150px;
	font-family: Arial, Helvetica, sans-serif;
}

.mainDetails {
	border-bottom: solid #cf8a05 2px;
	padding: 20px;
}



a {
	color: #444444;
	text-decoration: none;
}

#contactDetails {
	padding: 25px;
	color: #444444;
}

#contactDetails ul {
	list-style-type: none;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 60px;
}

#headshot img{
	border-radius: 100px;
}

#name {
	float: left;
}

#name h1 {
	font-family: Rokkitt ;
	font-size: 50px;
	margin-bottom: -35px;
	color: #181818;
}

#name h2 {
	font-family: 'Helvetica', sans-serif ;
	font-size: 35px;
	font-weight: lighter;
	color: #181818;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionTitle h1 {
	font-family: 'Rokkit';
	font-weight: lighter;
	font-style: oblique;
	color: #cf8a05;
	font-size: 28px;
	padding-left: 30px;
}

.subDetails {
	font-style: italic;
	margin-top: -20px;
}

.sectionContent {
	float: right;
	width: 70%;
	font-size: 16px;
	line-height: 25px;
	color: #444444;
}

.sectionContent h2 {
	font-family: 'Rokkit';
	font-weight: lighter;
	font-size: 25px;
	color: #181818;
}

.sectionContent ul {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	column-count: 3;
	line-height: 30px;
}

.sectionBorder {
	border-bottom: solid #dedede 1px;
}