:root{
	--color-title: #444444;
	--color-contact: #181818;
	--color-divisor: #cf8a05;
	--color-background: #f3f3f3;
	--color-topic-divisor: #dedede;
}

body{
	font-family: Lato, sans-serif;
	color: var(--color-contact);
}

	body h1{
		font-family: Rokkitt, sans-serif;
	}

#top {
	background-color: var(--color-background);
}

	#cv{
		margin: 50px auto;
		width: 70%;
		
	}

		.mainDetails{
			border-bottom: solid var(--color-divisor) 2px;
			padding: 0 5%;
		}

			#headshot{
				display: inline-block;
			}
				#headshot img{
					border-radius: 50%;
					width: 100px;
					margin-right: 25px;
				}

			#name{
				display: inline-block;
				position: relative;
    			bottom: 30px;
			}
				#name h1{
					font-size: 40px;
    				margin-bottom: -30px;
					color: var(--color-title);
				}
				#name h2{
					font-weight: 100;
    				font-family: Helvetica, sans-serif;
					font-size: 30px;
					color: var(--color-title);
				}

			#contactDetails{
				float: right;
			}
				#contactDetails ul{
					list-style: none;
					font-family: Lato, sans-serif;
					font-size: 200;
				}

					#contactDetails a{
						text-decoration: none;
						color: var(--color-contact);
					}
		
		.clear{}
		
		.mainArea{}
			.sectionBorder{
				border-bottom: solid var(--color-topic-divisor) 1px;
			}
				.sectionTitle{	
					color: var(--color-divisor);		
					float: left;
					width: 25%;	
				}
					.sectionTitle h1{
    					font-weight: 100;
						font-style: italic;
					}

				.sectionContent{
					display: inline-block;
					width: 70%;	
					font-weight: 200;
				}
					.sectionContent h2{
						font-family: Arial, sans-serif;
						font-weight: 100;
						margin-bottom: -15px;
						color: var(--color-title);
					}
					.subDetails{
						font-style: italic;
						font-size: 14px;
					}
					.keySkills{
						list-style: none;
						column-count: 3;
					}

			.lastSection{
				border-bottom: none;
			}

